{% extends "base.html" %}
{% set show_navbar = True %}
{% block content %}

    <h1>Bitcoin Information</h1>
    <div class="data-container">
        <div class="text-container">
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Symbol:</strong> {{ symbol }}</p>
            <p><strong>Price (USD):</strong> ${{ price_usd }}</p>
            <p><strong>24h Change:</strong> {{ change_24h }}%</p>
            <p><strong>Market Cap (USD):</strong> ${{ market_cap }}</p>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='assets/more1.png') }}" alt="More Image">
        </div>
    </div>
    
    
    <div style="background-color: aqua; padding: 10px; margin-top: 20px;">
        <h2>What is Bitcoin?</h2>
        <p>
            Bitcoin is a decentralized digital currency that operates without a central authority or 
            intermediary. It was invented by an anonymous person or group of people using the pseudonym
            Satoshi Nakamoto and was released as open-source software in 2009. Bitcoin transactions are 
            recorded on a public ledger called the blockchain, which is maintained by a network of computers
            (nodes) known as miners.
        </p>
    </div>
    <div style="background-color: #eda200; padding: 10px; margin-top: 20px;">
        <h2>Market Cap (Market Capitalization)</h2>
        <p>
            The market capitalization of Bitcoin refers to the total value of all bitcoins in circulation.
            It is calculated by multiplying the current price of Bitcoin by the total number of bitcoins in
            circulation. Market cap is an important metric used to gauge the overall size and value of a
            cryptocurrency. A higher market cap generally indicates a larger and more established cryptocurrency.
        </p>
    </div>
    <div style="background-color: aqua; padding: 10px; margin-top: 20px;">
        <h2>24h Change</h2>
        <p>
            The 24-hour change represents the percentage change in the price of Bitcoin over the last 24 hours.
            A positive percentage indicates an increase in price, while a negative percentage indicates a decrease.
            The 24-hour change is an indicator of the short-term price movement and volatility of Bitcoin.
        </p>
    </div>
    <div style="background-color: #eda200; padding: 10px; margin-top: 20px;">
        <h2>Benefits of Bitcoin</h2>
        <ul>
            <li><strong>Decentralization:</strong> Bitcoin operates on a decentralized network, meaning it is not 
            controlled by any single entity, government, or financial institution. This decentralization ensures that
            no single entity has control over the currency, making it resistant to censorship and manipulation.</li>
            <li><strong>Security:</strong> Bitcoin transactions are secured by cryptographic techniques and recorded
            on a public ledger called the blockchain. This makes Bitcoin transactions transparent, immutable, and
            resistant to fraud and hacking.</li>
            <li><strong>Global Accessibility:</strong> Bitcoin can be sent and received anywhere in the world with an
            internet connection. It provides financial access to individuals who may not have access to traditional
            banking services, especially in regions with limited banking infrastructure.</li>
            <li><strong>Limited Supply:</strong> Bitcoin has a fixed supply limit of 21 million coins, making it a 
            deflationary asset. This scarcity is designed to preserve the value of Bitcoin over time and protect against
            inflation.</li>
            <li><strong>Financial Freedom:</strong> Bitcoin gives individuals greater control over their finances by 
            allowing them to send and receive payments without relying on intermediaries. It empowers users to be their
            own bank and manage their wealth independently.</li>
        </ul>
    </div>
{% endblock %}
