{% extends "base.html" %}
{% set show_navbar = True %}
{% block content %}
    <h1>Blockchain Information</h1>
    <div class="data-container">
        <div class="text-container">
            <p><strong>Block Height:</strong> {{ block_height }}</p>
            <p><strong>Time:</strong> {{ time }}</p>
            <p><strong>Block Hash:</strong> {{ block_hash }}</p>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='assets/more 2.png') }}" alt="More Image">
        </div>
    </div>
    
    <div>
        <h2>What is Blockchain?</h2>
        <p class="information-text">
            Blockchain is a decentralized and distributed digital ledger that 
            records transactions across multiple computers in a way that is 
            <strong>secure, transparent, and tamper-resistant.</strong> 
            Each block in the blockchain contains a list of transactions,
             and each block is linked to the previous one, forming a chain of blocks.
        </p>
    </div>
    <div>
        <h2>What is Blockchain Time & Height?</h2>
        <p class="information-text">
            Blockchain time and height are essential concepts in understanding how blockchains work.
        </p>
        <p class="information-text">
            <strong>Block Height:</strong>
            Block height refers to the number of blocks that have been added to the blockchain preceding a specific block. It essentially indicates the position of a block within the blockchain.
        </p>
        <p class="information-text">
            <strong>Sequential Ordering:</strong>
            It provides a way to organize and track the chronological order of blocks in the blockchain. New blocks are added to the blockchain with increasing block heights, ensuring that transactions are processed in the correct sequence.
        </p>
        <p class="information-text">
            <strong>Security:</strong>
            Block height is used in consensus algorithms to validate the longest chain of blocks. In proof-of-work (PoW) blockchains like Bitcoin, the longest valid chain with the highest cumulative proof-of-work is considered the authoritative chain. Block height helps nodes reach consensus on the current state of the blockchain.
        </p>
        <p class="information-text">
            <strong>Difficulty Adjustment:</strong>
            Some blockchain networks adjust the difficulty of mining new blocks based on block height. For example, Bitcoin adjusts its mining difficulty every 2016 blocks to maintain an average block creation time of approximately 10 minutes.
        </p>
        <p class="information-text">
            In summary, block height is a fundamental concept in blockchain technology that provides a way to organize, validate, and secure the transactions recorded in the blockchain.
        </p>
    </div>
    

        <div>
            <h2>What is The Timestamp?</h2>
            <p class="information-text">
                "Time" refers to the timestamp associated with a specific block. 
                This timestamp represents the exact moment when the block was created or mined.
   
               The <strong>timestamp</strong> is typically recorded in Unix time format,
               which is a system for tracking time as a number of seconds since the Unix epoch 
               (January 1, 1970, 00:00:00 UTC).
               This timestamp is crucial for maintaining the chronological order of blocks in the blockchain 
               and for verifying the validity of transactions. It helps ensure that transactions are 
               processed in the correct sequence and prevents double-spending of cryptocurrency.
            </p>
        </div>



        </p>
    
    <div>
        <h2>Benefits of Blockchain</h2>
        <ul>
            <li class="information-text"><strong>Transparency:</strong> Blockchain provides transparency as all transactions are recorded and visible to all participants in the network.</li>
            <li class="information-text"><strong>Security:</strong> Blockchain uses cryptographic techniques to ensure that transactions are secure and tamper-proof.</li>
            <li class="information-text"><strong>Decentralization:</strong> Blockchain operates without a central authority, making it resistant to censorship and single points of failure.</li>
            <li class="information-text"><strong>Efficiency:</strong> Blockchain streamlines processes by eliminating the need for intermediaries and reducing the time and cost of transactions.</li>
        </ul>
    </div>
    <div>
        <h2>Possible Uses of Blockchain</h2>
        <ul>
            <li class="information-text"><strong>Financial Services:</strong> Blockchain can be used for secure and efficient financial transactions, such as payments, remittances, and settlements.</li>
            <li class="information-text"><strong>Supply Chain Management:</strong> Blockchain enables transparent and traceable supply chains, allowing businesses to track the flow of goods from production to delivery.</li>
            <li class="information-text"><strong>Identity Management:</strong> Blockchain can provide a secure and decentralized way to manage digital identities, reducing the risk of identity theft and fraud.</li>
            <li class="information-text"><strong>Voting Systems:</strong> Blockchain can be used to create secure and transparent voting systems, ensuring the integrity of elections and reducing the risk of fraud.</li>
        </ul>
    </div>
{% endblock %}
