nav {
    background-color: aqua;
}



body {
    font-family: 'Teko', sans-serif; 
    font-size: 24px;
    background-color: #000000;
    color: whitesmoke;
}




.nav-link {
    font-size: 22px;
}



.navbar-brand {
    font-size: 22px;
}
 

.btn-primary {
    background-color: #eda200;
    border-color: #eda200;
}

.btn-primary:hover {
    background-color: #ffa500; 
    border-color: #ffa500;
}




.btn-teal {
    background-color: aqua; 
    color: #000000; 
}

.btn-orange {
    background-color: #eda200; 
    color: #ffffff; 
}

.btn-teal:hover,
.btn-orange:hover {
    background-color: #ffa500; 
}



.data-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.text-container {
    flex: 1; /* Grow to take up remaining space */
    margin-right: 20px; /* Add space between text and image */
}


.image-container img {
    max-width: 270px; 
    max-height: auto; 
    border: 8px solid;
    border-image: linear-gradient(to right, aqua, orange);
    border-image-slice: 1;
}


