.information-text {
    color:#eda200;
}



nav {
    background-color: aqua;
}

.custom-font {
    font-family: 'Raleway', sans-serif;
    font-size: 23px; 
    font-weight: 500; 
   
}


.navbar-brand {
    font-size: 22px;
}
 


body {
    font-family: 'Raleway', sans-serif; 
    font-size: 24px;
    background-color: #000000;
    color: whitesmoke;
}


.btn-primary {
    background-color: #ab6f00;
    border-color: #ab6f00;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #eda200; 
    border-color: #eda200;
}




.btn-teal {
    background-color: aqua; 
    color: #000000; 
}

.btn-orange {
    background-color: #eda200; 
    color: #ffffff; 
}

.btn-teal:hover,
.btn-orange:hover {
    background-color: #ffa500; 
}



.data-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.text-container {
    flex: 1; /* Grow to take up remaining space */
    margin-right: 20px; /* Add space between text and image */
}


.image-container img {
    max-width: 270px; 
    max-height: auto; 
    border: 8px solid;
    border-image: linear-gradient(to right, aqua, orange);
    border-image-slice: 1;
    box-shadow: 0 0 30px aqua, 0 0 30px orange; /* Added box-shadow */
}




h2 {
    color: aqua;
}
 
strong {
    color: aqua;
}


.button-style {
    text-decoration: none;
    font-size: 24px;
    color: black;
    background-color: #eda200;
    margin-right: 20px;
    box-shadow: 0 0 10px orange;
    padding: 10px 20px;
    border-radius: 5px;
}

.big-img {
    width: 40%;
    border: 8px solid;
    border-image: linear-gradient(to right, aqua, orange);
    border-image-slice: 1;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 30px aqua, 0 0 30px orange; /* Added box-shadow */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    min-width: 100px;
    margin-right: 10px;
}

.form-row input {
    flex: 1;
}


.main-image {
    width: 60%;
    border:10px solid;
    border-image: linear-gradient(to right, aqua, orange);
    border-image-slice: 1;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 30px aqua, 0 0 30px orange;
}

/* Aqua background color for even rows */
table.table-striped.table-bordered tbody tr:nth-child(even) {
    background-color: aqua;
    color: black;
}

/* Orange background color for odd rows */
table.table-striped.table-bordered tbody tr:nth-child(odd) {
    background-color: orange;
}
table.table-striped.table-bordered tbody tr:nth-child(odd) td {
    color: rgb(0, 0, 0);
}


tr {
    color: whitesmoke
}

.card-body{
    max-height: auto; 
    background-color: whitesmoke;
    border: 10px solid;
    border-image: linear-gradient(to right, aqua, orange);
    border-image-slice: 1;
    box-shadow: 0 0 30px aqua, 0 0 30px orange;
}

.card-text{
    color: black;
}

.list-group{
    border:10px solid;
    border-image: linear-gradient(to right, aqua, orange);
    border-image-slice: 1;
    box-shadow: 0 0 30px aqua, 0 0 30px orange;

}



.gradient-text {
    font-size: 2.5em;
    font-weight: bold;
    background: linear-gradient(90deg, aqua, orange);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: gradient 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}

@keyframes gradient {
    0%, 100% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
}