{% extends "base.html" %}
{% set show_navbar = True %}
{% block content %}
<h1>Thank you for stopping by! We hope you learned a lot about the awesome world of cryptocurrencies!</h1>
<h2>Be sure to Commemorate the moment and make an honorary cryptocoin!</h2>

<ul id="cryptocurrencies-list">
</ul>

<h2>Add a new cryptocurrency!</h2>

<form id="new-cryptocurrency-form">
    <div class="form-row">
        <label for="form-name">Name: </label>
        <input name="name" id="form-name">
    </div>

    <div class="form-row">
        <label for="form-symbol">Symbol: </label>
        <input name="symbol" id="form-symbol">
    </div>

    <div class="form-row">
        <label>Description: </label>
        <input name="descriptions" id="form-descriptions">
    </div>

    <button class="btn-teal">Add!</button>
</form>


    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cryptocurrencies.js"></script>
{% endblock %}
