{% extends "base.html" %}
{% set show_navbar = True %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Bitcoin Sell</h1>
        {% if bitcoin_price %}
            <p>Current Bitcoin Price: ${{ bitcoin_price }}</p>
        {% endif %}
        {% if bitcoin_symbol %}
            <p>Bitcoin Symbol: {{ bitcoin_symbol }}</p>
        {% endif %}
        <p>Type in any amount of Bitcoin you wish to sell! 
            For example 1, 2, 3, 4, 5, or use decimals 0.11, 0.00000023</p>
        <p>This will allow you to sell full Bitcoins or pieces of Bitcoin!
             Remember this is not a real transaction so have fun with it!</p>
        <form action="/bitcoinsell" method="POST" class="mt-4">
            <div class="mb-3">
                <label for="bitcoin_amount" class="form-label">Bitcoin Amount:</label>
                {% if sell_confirmation %}
                <h3 class="information-text">{{ sell_confirmation }}</h3>
                {% endif %}
                <input type="text" id="bitcoin_amount" name="bitcoin_amount" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sell Bitcoin</button>
            <a href="{{ url_for('bitcoin_buy') }}" class="btn btn-teal btn-outline-primary me-3">Buy Bitcoin</a>
            <a href="{{ url_for('money_made') }}" class="btn btn-teal btn-outline-primary me-3">Your Bitcoin value & Staking</a>
            <a href="{{ url_for('transaction_history') }}" class="btn btn-teal btn-outline-primary me-3">Transaction History</a>
            <a href="{{ url_for('dashboard') }}" class="btn btn-teal btn-outline-primary me-3">Back to Dashboard!</a>
            <form action="{{ url_for('game') }}" method="get" style="display: inline;">
                <button type="submit" class="btn btn-teal btn-outline-primary me-3">Start Mining ⛏️💰</button>
            </form>
        </form>
      
    </div>
{% endblock %}
