<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Bitcoin Buy</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Bitcoin Buy</h1>
       
        {% if bitcoin_price %}
            <p class="mt-4">Current Bitcoin Price: ${{ bitcoin_price }}</p>
        {% endif %}
        {% if bitcoin_symbol %}
            <p>Bitcoin Symbol: {{ bitcoin_symbol }}</p>
        {% endif %}
        <form action="{{ url_for('bitcoin_buy') }}" method="POST" class="mt-4">
            <div class="mb-3">
                <label for="bitcoin_amount" class="form-label">Bitcoin Amount:</label>
                <input type="text" id="bitcoin_amount" name="bitcoin_amount" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Buy Bitcoin</button>
        </form>
        {% if buy_confirmation %}
            <p class="mt-3">{{ buy_confirmation }}</p>
        {% endif %}
    </div>
</body>
</html>
