{% extends "base.html" %}
{% set show_navbar = True %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Welcome to the Dashboard, {{ username }}</h1>
        <p class="text-center">Your email: {{ email }}</p>
        <div class="text-center mt-3">
            <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary me-3">Logout</a>
            <a href="{{ url_for('bitcoin_buy') }}" class="btn btn-teal btn-outline-primary me-3">Buy Bitcoin</a>
            <a href="{{ url_for('bitcoin_sell') }}" class="btn btn-teal btn-outline-primary me-3">Sell Bitcoin</a>
            <a href="{{ url_for('money_made') }}" class="btn btn-teal btn-outline-primary me-3">Your Bitcoin value & Staking</a>
            <a href="{{ url_for('transaction_history') }}" class="btn btn-teal btn-outline-primary me-3">Transaction History</a>

        </div>
        <div class="text-center mt-3">
            <form action="/reset-transactions" method="post">
                <button type="submit" class="btn btn-orange">Reset Transactions</button>
            </form>
        </div>
    </div>
{% endblock %}
