{% extends "base.html" %}
{% set show_navbar = True %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Transaction History</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cryptocurrency</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.cryptocurrency_id }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center mt-3">
                <a href="{{ url_for('bitcoin_buy') }}" class="btn btn-teal btn-outline-primary me-3">Buy Bitcoin</a>
                <a href="{{ url_for('bitcoin_sell') }}" class="btn btn-teal btn-outline-primary me-3">Sell Bitcoin</a>
                <a href="{{ url_for('money_made') }}" class="btn btn-teal btn-outline-primary me-3">Your Bitcoin value & Staking</a>
                <a href="{{ url_for('dashboard') }}" class="btn btn-teal btn-outline-primary me-3">Back to Dashboard!</a>
                <form action="{{ url_for('game') }}" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-teal btn-outline-primary me-3">Start Mining ⛏️💰</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
